---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Febrero 2025 - Actualidad",
        title: "Desarrollador de Software | Flops Ingeniería",
        description: [
            {
                title: "Desarrollo de aplicación para la gestión de presupuestos de distintos colegios y áreas, utilizando HTML, CSS, PHP y JavaScript. La aplicación incluye autenticación segura mediante SSL de Microsoft corporativo y cuenta con diferentes vistas según el tipo de usuario:",
                items: [
                    "Administrador: Gestión completa del sistema.",
                    "Usuario de presupuestos: Carga y edición de presupuestos, ya sea mediante importación de archivos CSV o entrada manual línea por línea.",
                    "Revisor de presupuestos: Revisión, aceptación, modificación o rechazo de presupuestos. Además, puede asignar prioridades que alteran visualmente las líneas según su importancia y recalculan los totales en tiempo real tras cada modificación.",
                ],
            },
        ],
        link: "http://www.flopsingenieria.com/",
    },
    {
        date: "Octubre 2024 - Actualidad",
        title: "Tecnico de Sistemas | Flops Ingeniería",
        description:
            "Administración de una flota de aproximadamente 400 ordenadores en un colegio. Esto incluye la gestión del inventario mediante GLPI, la administración de dispositivos con Intune for Education, la resolución de incidencias técnicas para alumnos y profesores, y el mantenimiento continuo de los equipos. Además, gestiono las redes del instituto, incluyendo la configuración y administración de VLANs, SSIDs y puntos de acceso, asegurando una conectividad eficiente y segura para toda la comunidad educativa.",
        description2:
            "Desarrollo de una aplicación en Python para la descarga masiva de datos de operadoras de telefonía fija de los colegios. La aplicación se ejecuta automáticamente cada mañana y guarda los archivos generados en un OneDrive compartido, permitiendo que el personal de secretaría acceda a la información de manera rápida y eficiente. Este proyecto mejora la productividad, reduce errores manuales y asegura la disponibilidad diaria de los datos.",
        link: "http://www.flopsingenieria.com/",
    },
    {
        date: "Abril 2024 - Junio 2024",
        title: "Practicas Grado Superior Desarrollo de Aplicaciones Web | Somos Crater",
        description:
            "Practicas de desarrollo de una aplicacion de gestion de marcas.",
        link: "https://somoscrater.es/",
        carta: "/cartas/CartaCrater.pdf",
    },
    {
        date: "Mediados de Abril 2022 - Principios de Junio 2022",
        title: "Practicas Erasmus Grado Medio Sistema Microinformáticos y Redes | Colegio Frances",
        description:
            "Practicas Beca Erasmus de mantenimiento de ordenadores en un insituto en el norte de Francia.",
    },
    {
        date: "Marzo 2022 - Mediados de Abril 2022",
        title: "Practicas Grado Medio Sistema Microinformáticos y Redes | Certelia",
        description:
            "Practicas de desarrollo en visual basics para una aplicacion de gestion de datos de clientes.",
        link: "https://www.certelia.com/",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience, index) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
