---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image" href="/r-dev.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root {
				color-scheme: light dark;
				color: white;
			}
			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				scroll-behavior: smooth;
			}
			body {
				display: flex;
				flex-direction: column;
				background: linear-gradient(
					95deg,
					black,
					darkblue
				); /* Degradado de negro a azul oscuro */
				padding: 0 1rem;
			}
			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}
		</style>
	</body><style>
		/* Ajuste general para móviles */
		@media (max-width: 640px) {
			.text-2xl {
				font-size: 1.5rem;
			}

			.text-4xl {
				font-size: 2rem;
			}

			.size-7 {
				width: 2rem;
				height: 2rem;
			}
		}

		/* Ajuste para pantallas medianas */
		@media (min-width: 641px) and (max-width: 1024px) {
			.text-5xl {
				font-size: 3rem;
			}

			.size-7 {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	</style>
</html>
